/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #28262c; /*#f5f5f5;*/
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fafafa; 
  background-color: #28262c;
  text-decoration: none;
}
.nav>li>a:hover,.nav>li>a:focus {
  color: #fafafa; 
  background-color: #28262c;
  text-decoration: none;
}
ul {
	list-style: outside none none;
}

/*
 * Main content
 */

.main {
  padding: 10px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.widget-menu {
    background: #fff none repeat scroll 0 0;
    /* border-radius: 3px; */
    overflow: hidden;
}
.nav-sidebar > li + li {
    border-top: 1px solid #555;
}
li {
    line-height: 20px;
}

.nav-sidebar > li > a {
    background-color: #2d2b32;
    color: #767676;
    transition: all 0.2s ease-in-out 0s;
}
.nav-sidebar a {
    color: #555;
    display: block;
    line-height: 20px;
    padding: 15px;
    text-decoration: none !important;
}
a {
    color: #0088cc;
    text-decoration: none;
}

/** For tiny images **/
.icon {
    background-image: url("../images/glyphicons-halflings.png");
    position: static;
    height: 19px;
    width: 15px;
	opacity: 0.5;
    float: left;
}
.icons-e {
    background-position: 15px -69px;
    float: right;
}
.icons-d {
    background-position: 156px -117px;
    float: right;
}
.icons-logout {
    background-image: url("../images/glyphicons-halflings-white.png");
    background-position: 84px 2px;
    margin-right: 1px;
    margin-top: 1px;
}
.icons-ed {
	background-position: 0px -70px;
}
.icons-save {
	background-position: -24px -22px;
}
.icon-calendar{
	background-position: -191px -117px;
	cursor: pointer;
}
.icon.icons-search {
    background-position: -48px 2px;
    cursor: pointer;
    float: left;
    left: 176px;
    position: relative;
    top: 6px;
}
/** End **/

#workarea {
	 background-color: #fcfcfc;
	 height: 100%;
}

/* .bs-example {
	background-color: #fff;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	border-width: 1px;
	box-shadow: none;
	margin-left: 0;
	margin-right: 0;
}

.bs-example {
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
	margin: 0 -15px 15px;
	padding: 15px 15px 15px;
	position: relative;
	height: 550px;
} */

th {
    text-align: center;
}
.body.ui-widget-content {
	overflow: auto;
}

.s-leftpanel .s-outline .s-outline-row-selected {
    background: rgba(0, 0, 0, 0) linear-gradient(#3d647e 0%, #1d425b 100%) repeat scroll 0 0;
    border-bottom: 1px solid #353535;
    border-top: 1px solid #353535;
    padding: 6px 15px;
}
/* .tab-pane.active.in {
    margin-top: 15px;
} */
a {
   outline: 0;
}
a::-moz-focus-inner {
  border: 0;
}
a:hover, a:active, a:focus {
   outline: 0;
}
.row.next-mater-wrap {
    margin-top: 15px;
}
.godown {
	font-weight: bold;
}
.page-header {
	color: #ec5d5d;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.displayNone {
	display:none;
}
#loading {
    background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.73;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    display: none;
}
.mandatory {
    color: red;
}
.besideInput {
	padding-right: 34px;
}
.input-addon {
	padding: 7px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 22.5px;
    width: 34px
}
.addIcon {
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 62px -96px;
    display: block;
    height: 15px;
    width: 15px;
}
.starFishImg {
	height: 118px;
    left: 1in;
    position: absolute;
    top: 445px;
    width: 129px;
}
.coconutImage {
	height: 563px;
    width: 100%;
}